<!DOCTYPE html>
<html>
<head>
  <title>Tweeker</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <% if alert %>
      <div class="alert alert-warning"><%= alert %>
  </div>
<% end %>
<% if notice %>
  <div class="notice"><%= notice %>
  </div>
  <% end %>
  <% if user_signed_in? %>
    Whattup! <%= @current_user.username %>
    <%= link_to "Sign Out?", sign_out_path, method: :delete %>
  <% end %>
  <nav>
    <%= link_to "Home", root_path %>
  </nav>

<%= yield %>
</div>

</body>
</html>
